@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  touch-action: none;
  width: 30px;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: #ffcc00;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
